/*=================================================

  Stylesheet for personal online Curriculum Vitae
  Version: 2.0
  Author: Valéry MOROZOV

=================================================*/

/* Screen version */
@media screen {
  body {
    font-family: "Montserrat", Arial, sans-serif;
    font-variant: small-caps;
    line-height: 1;
  }

  .list-item {
    border: none;
    background-color: #F8F9FA; /* Bootstrap's *-light colour */
  }
}

/* Carriage return */
@media screen and (min-width: 720px) and (max-width: 1280px) {
  .resp-line-break::before {
    content: '\A';
    white-space: pre;
  }
}

/* Printing version */
@media print {
  @page {
    margin: 0;
  }

  body {
    font-family: "Merriweather", Times, serif;
    font-variant: small-caps;
  }

  h5 {
    border: solid 1px Grey;
    box-shadow: 7px 7px 7px #CFCFCF;
  }

  hr {
    border-top: 1px solid Grey;
    margin: 0.47rem 0 0.47rem 0;
    width: 95%;
  }

  /* Grayscale filter on coloured items */
  .print-grayscaleify {
    filter: grayscale(1.0);
    -webkit-filter: grayscale(1.0);
  }

  .print-margin-bottom {
    margin-bottom: 0.25rem!important;
  }

  .print-page-break {
    page-break-after: always;
  }

  .print-line-height {
    margin-bottom: 0.5rem;
  }

  .print-push-left-24 {
    padding-right: 1.5rem;
  }

  .print-push-left-32 {
    padding-right: 2rem;
  }

  .print-push-left-40 {
    padding-right: 2.5rem;
  }

  .print-page2-left {
    padding-top: 0.5rem;
  }

  .print-page2-right {
    margin-top: 1rem;
  }

  .print-ru-label:before {
    content: "Russe: ";
    padding-left: 0.75rem;
    padding-right: 2rem;
  }

  .print-fr-label:before {
    content: "Français: ";
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .print-uk-label:before {
    content: "Anglais: ";
    padding-left: 0.75rem;
    padding-right: 1.2rem;
  }

  .print-language-level {
    margin-top: 0.8rem;
    text-align: center!important;
  }

  .list-item {
    border: none;
    background-color: #F8F9FA; /* Bootstrap's *-light colour */
  }
}
